---
const {
    title,
    subtitle1,
    subtitle2,
    subtitle3,
    subtitle4,
    parrafo1,
    parrafo2,
    parrafo3,
    parrafo4,
    img,
    img1,
    img2,
    img3,
    img4,
} = Astro.props;
---

<section class="card-container">
    <div class="card sm:w-[300px] md:w-[400px] sm:h-[400px] md:h-[400px]">
        <div class="card-face card-front">
            <h2>{title}</h2>
            <img src={img} alt="" />
        </div>
        <div class="card-face card-back">
            <div class="slide-container">
                <div class="slide active">
                    <h2 class="text-lg p-4">{subtitle1}</h2>
                    <h3 class="text-sm p-2">{parrafo1}</h3>
                    <img class="slide-image" src={img1} alt="" />
                </div>
                <div class="slide">
                    <h2 class="text-lg p-4">{subtitle2}</h2>
                    <h3 class="text-sm p-2">{parrafo2}</h3>
                    <img class="slide-image" src={img2} alt="" />
                </div>
                <div class="slide">
                    <h2 class="text-lg p-4">{subtitle3}</h2>
                    <h3 class="text-sm p-2">{parrafo3}</h3>
                    <img class="slide-image" src={img3} alt="" />
                </div>
                <div class="slide">
                    <h2 class="text-lg p-4">{subtitle4}</h2>
                    <h3 class="text-sm p-2">{parrafo4}</h3>
                    <img class="slide-image" src={img4} alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        perspective: 1000px;
    }

    .card-container {
        perspective: 1000px;
    }

    .card {
        position: relative;
        top: -4rem;
        margin: 50px auto;
        transform-style: preserve-3d;
        transition: transform 0.8s;
        width: 600px;
        height: 400px;
    }

    .card:hover {
        transform: rotateY(180deg);
    }

    .card-face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-front {
        backdrop-filter: blur(7px) saturate(150%);
        -webkit-backdrop-filter: blur(7px) saturate(150%);
        background-color: rgba(17, 25, 40, 0.6);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
    }
    .card-front img {
        border-radius: 12px;
        object-fit: cover;
        width: 15rem;
        height: 20rem;
    }

    .slide-image {
        border-radius: 12px;
        object-fit: cover;
        width: 15rem;
        height: 15rem;
    }

    .card-back {
        backdrop-filter: blur(7px) saturate(150%);
        -webkit-backdrop-filter: blur(7px) saturate(150%);
        background-color: rgba(17, 25, 40, 0.6);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        transform: rotateY(180deg);
    }

    .slide-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .slide {
        display: none;
    }

    .slide.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<script>
    const slides = document.querySelectorAll(".slide");
    let currentSlide = 0;

    function showSlide(slideIndex) {
        slides.forEach((slide, index) => {
            if (index === slideIndex) {
                slide.classList.add("active");
            } else {
                slide.classList.remove("active");
            }
        });
    }

    setInterval(() => {
        currentSlide = (currentSlide + 1) % slides.length;
        showSlide(currentSlide);
    }, 3000);
</script>
