---
const {
    title,
    subtitle1,
    subtitle2,
    subtitle3,
    subtitle4,
    parrafo1,
    parrafo2,
    parrafo3,
    parrafo4,
    img,
    img1,
    img2,
    img3,
    img4,
} = Astro.props;
---

<section class="card-container">
    <div class="card sm:w-[90vw] sm:h-[400px] md:w-[90vw] md:h-[400px]">
        <div class="card-face card-front w-[90vw] h-[70vh]">
            <h2>{title}</h2>
            <img
                class="w-[15rem] h-[20rem] rounded-[15px] object-cover"
                src={img}
                alt=""
            />
        </div>
        <div class="card-face card-back w-[90vw] h-[70vh]">
            <div class="slide-container">
                <div class="slide active">
                    <h2 class="text-lg p-4">{subtitle1}</h2>
                    <h3 class="text-sm p-2">{parrafo1}</h3>
                    <img
                        class="w-[15rem] h-[15rem] rounded-[15px] object-cover"
                        src={img1}
                        alt=""
                    />
                </div>
                <div class="slide">
                    <h2 class="text-lg p-4">{subtitle2}</h2>
                    <h3 class="text-sm p-2">{parrafo2}</h3>
                    <img
                        class="w-[15rem] h-[15rem] rounded-[15px] object-cover"
                        src={img2}
                        alt=""
                    />
                </div>
                <div class="slide">
                    <h2 class="text-lg p-4">{subtitle3}</h2>
                    <h3 class="text-sm p-2">{parrafo3}</h3>
                    <img
                        class="w-[15rem] h-[15rem] rounded-[15px] object-cover"
                        src={img3}
                        alt=""
                    />
                </div>
                <div class="slide">
                    <h2 class="text-lg p-4">{subtitle4}</h2>
                    <h3 class="text-sm p-2">{parrafo4}</h3>
                    <img
                        class="w-[15rem] h-[15rem] rounded-[15px] object-cover"
                        src={img4}
                        alt=""
                    />
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .card {
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.8s;
    }

    .card:hover {
        transform: rotateY(180deg);
    }

    .card-face {
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .card-front,
    .card-back {
        backdrop-filter: blur(7px) saturate(150%);
        -webkit-backdrop-filter: blur(7px) saturate(150%);
        background-color: rgba(17, 25, 40, 0.6);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
    }

    .card-back {
        transform: rotateY(180deg);
    }

    .slide-container {
        overflow: hidden;
    }

    .slide {
        display: none;
    }

    .slide.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<script>
    const slides = document.querySelectorAll(".slide");
    let currentSlide = 0;

    function showSlide(slideIndex) {
        slides.forEach((slide, index) => {
            if (index === slideIndex) {
                slide.classList.add("active");
            } else {
                slide.classList.remove("active");
            }
        });
    }

    setInterval(() => {
        currentSlide = (currentSlide + 1) % slides.length;
        showSlide(currentSlide);
    }, 3000);
</script>
